<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Configuration</title>
</head>
<body>
    <h1>Configure Wi-Fi</h1>
    <form action="/configure_and_reboot" method="post">
        <label for="ssid">SSID:</label><br>
        <input type="text" id="ssid" name="ssid" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>

    <h1>Run Scripts</h1>
    <a href="/run_scripts">Run Scripts</a>

    <h1>Reboot Raspberry Pi</h1>
    <form action="/reboot" method="post">
        <input type="submit" value="Reboot">
    </form>
</body>
</html>
